{{> header}}

  {{> navbar}}

   <div class= "row">
     <div class= "col-4">
       <h1>Vengadores</h1>
      {{ capitalizar "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia error perferendis nihil temporibus odio sed, dolorem nemo exercitationem tempora voluptatum, et itaque obcaecati deleniti dicta aspernatur tenetur officiis odit ducimus."}}
     </div>
     <div class="col-8">
       <img src="./assets/img/avengers.jpg"  class= "img-thumbnail">
     </div>
   </div>

{{> footer}}